<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<title>Minkolang</title>
		
		{% load staticfiles %}
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="{% static 'minkolang/main.css' %}" />
	</head>
	
	<body>
		
		<a href="http://www.starmaninnovations.com/"><img src="{% static 'minkolang/StarmanInnovations_logo1_iconsOnly_smaller.png' %}" width="108px" alt="Starman Innovations logo" /></a>
		
		<h3 style="float:right; text-align: right; margin-right:3px; margin-top:0px;">Starman<br/>Innovations</h3>
	
		<h1>Official Minkolang Online Interpreter - version 0.14</h1>
		
		<p><strong>Examples:</strong> <select id="examples-dropdown">
			<option selected disabled>------------</option>
			<option value="hello_world">Hello world!</option>
			<option value="fizzbuzz">Fizz Buzz</option>
			<option value="collatz">Collatz Sequence</option>
			<option value="quine">Quine</option>
			<option value="Mandelbrot">Mandelbrot Set</option>
			<option value="fibonacci">Fibonacci Sequence</option>
			<option value="fibonacci_recursive">Fibonacci (recursive)</option>
			<option value="insertionSort">Insertion Sort</option>
			<option value="PPCG_TypeUniqChars">Unique Characters</option>
		</select></p>
		
		<textarea id="code-input" rows="15" cols="70" style="width:70em;">{% if code %}{{code}}{% endif %}</textarea>
		<br/>
		<label for="input-text">Input:</label>
		<textarea id="input-text" rows="1" style="vertical-align: bottom"/>{{input}}</textarea> <button onclick="sendcode()">Set code</button> 
		<!-- <br/><br/> -->
		<p style="display:inline"> || </p>
		<button id="run-button" onclick="stepcode(-1)" disabled>Run</button>
		<button id="stop-button" onclick="stepcode(0)" style="display:none;">Stop</button>
		<button id="step-button" onclick="stepcode($('#steps-input').val())" disabled>Step</button>
		<input type="text" id="steps-input" size="3" value="1"/>
		<p style="display:inline"> || </p>
		<button id="slow-button" onclick="slowcode($('#slowstep-input').val(),$('#speed-input').val())" disabled>Slow</button>
		<button id="stopslow-button" onclick="stopslow()" style="display:none;">Stop</button>
		<p style="display:inline">
		<input type="text" id="slowstep-input" size="3" value="1"/> step(s),
		<input type="text" id="speed-input" size="3" value="500"/> ms
		</p>
		<div id="speed-slider"></div>
		
		<!-- <p style="display:inline;"> || </p> -->
		
		
		<p><a id="permalink" href="{% url 'main' %}{{permalink}}">Permalink.</a> || <span id="byte-counter"></span> bytes, <span id="char-counter"></span> chars || <span id="status-text" style="display:inline; font-weight:bold;">Status: awaiting code</span></p>
		
		<p id="note-text">Note: <kbd>Run</kbd> is limited to 1 minute at a time and <code>Slow</code> is limited to a total of 1000 steps or 1 minute, whichever is shorter.</p>
		
		<p id="curr-inst">Current instruction:</p>
		
		<div id="code-table">
		{% if code_lines %}
		<table>
			{% for line in code_lines %}
			<tr>
				{% for char in line %}
				<td>{{char}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		{% endif %}
		</div>
		
		<p id="input-str">Input: <code></code></p>
		
		<p>Output:</p>
		<pre id="output-text" style="border: 1px solid gray; min-height: 1em;"></pre>
		
		<p>Stack:</p>
		<p id="stack-text" style="border: 1px solid gray; min-height: 1em;"></p>
		
		<p>Loops:</p>
		<div id="loops-table">
		</div>
		
		<p id="register-text">Register: <code>0</code></p>
		
		<div id="array-table">
		</div>
		
		{% include "minkolang/instructions.html" %}
		
		<p id="uid" style="display:none;">{{uid}}</p>

		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="{% static 'minkolang/utf8.js' %}"></script>
		<script src="{% static 'minkolang/main.js' %}"></script>
	</body>
</html>