<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Taxonomy of Game Mechanics</title>
		
		{% load staticfiles %}
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'd3applets/dotandcross.css' %}" /> -->
		<style>
            ul {
                list-style-type: none;
            }
            .expandable > code {
                cursor: pointer;
                color: #00B;
            }
            .attr {
                color: #800;
            }
		</style>
	</head>
	
	<body style="margin-left: 20px">
	
		<h1>Taxonomy of Game Mechanics</h1>
		<p id="desc">An ongoing attempt to boil down game mechanics to their core fundamentals.</p>
		
		<p>This taxonomy is patterned after the taxonomic ranks used in biology: domain, kingdom, phylum, class, family, genus, species, in order from largest and most inclusive to smallest and narrowest. Independent attributes are <span class="attr">colored</span> to set them apart.</p>
        
        <p id="toggleall" style="color:#00B" onclick="toggleall()"><strong>[Expand all]</strong></p>
        
        <ul id="root">
            <li>
                <div class="expandable"><strong>Space</strong> &ndash; a collection of game states <em>Note: exceptions to the independence of attributes are noted in [brackets].</em></div>
            
                <ul>
                    <li><div class="expandable"><strong>Layout</strong> &ndash; how the coordinates of the space relate to one another</strong></div>
                        <ul>
                            <li><div class="expandable"><strong>Grid-based</strong> &ndash; coordinates are located relative to each other in a regular, repeated pattern</div>
                                <ul>
                                    <li><strong>Linear</strong> &ndash; equivalent to the number line</li>
                                    <li><strong>Rectangular/cubical</strong> &ndash; two or more orthogonal axes, set at 90 degrees relative to each other</li>
                                    <li><strong>Hexagonal</strong> &ndash; two axes, where each coordinate is "adjacent" to three others</li>
                                    <li><strong>Triangular</strong> &ndash; two axes, where each coordinate is "adjacent" to six others</li>
                                    <li><strong>Other</strong> &ndash; two or more axes, based on some tesselation or tiling</li>
                                </ul>
                            </li>
                            <li><strong>Network [discrete]</strong> &ndash; no regular pattern in the adjacency information</li>
                        </ul>
                    </li>
                    
                    <li><div class="expandable attr"><strong>Granularity</strong> &ndash; the level of detail present in the coordinate system</div>
                        <ul>
                            <li><strong>Discrete</strong> &ndash; there is a clear discontinuity between two coordinates as close together as possible</li>
                            <li><strong>Continuous</strong> &ndash; for every point P, there is at least one other point in an arbitrarily small neighborhood centered on P</li>
                        </ul>
                    </li>
                    
                    <li><div class="expandable attr"><strong>Connectedness</strong> &ndash; the global nature</div>
                        <ul>
                            <li><strong>Without holes [grid-based]</strong> &ndash; All points that are in the space and within the boundary (if it exists) are playable</li>
                            <li><strong>With holes [grid-based]</strong> &ndash; At least one point that is in the space and within the boundary (if it exists) is not playable</li>
                            <li><strong>Disjoint</strong> &ndash; Two or more areas cannot be reached solely by moving between adjacent points</li>
                        </ul>
                    </li>
                    
                    <li><div class="expandable attr"><strong>Bounds</strong> &ndash; the limitations (or lack thereof) on the playable portion of the space</div>
                        <ul>
                            <li><strong>Bounded</strong> &ndash; the playable area is finite</li>
                            <li><strong>Partially bounded</strong> &ndash; the playable area is infinite in one or more directions</li>
                            <li><strong>Toroidal</strong> &ndash; areas adjacent to the boundary are joined to non-adjacent areas</li>
                            <li><strong>Unbounded</strong> &ndash; the playable area is infinite in all directions</li>
                        </ul>
                    </li>
                    
                    <li><div class="expandable attr"><strong>Curvature [grid-based]</strong> &ndash; referring to Gaussian curvature</div>
                        <ul>
                            <li><strong>Euclidean</strong> &ndash; zero curvature, flat like a sheet of paper; the most common type</li>
                            <li><strong>Elliptical</strong> &ndash; positive curvature, round like a ball</li>
                            <li><strong>Hyperbolic</strong> &ndash; negative curvature like a saddle; hard to visualize, very rare</li>
                            <li><strong>Other</strong> &ndash; some combination of the above, like a torus, which has both positive and negative curvature</li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            <li><div class="expandable"><strong>Actor</strong> &ndash; an entity that performs actions</div>
                <ul>
                    <li><div class="expandable"><strong>Decision-making process</strong> &ndash; how the actor makes decisions</div>
                        <ul>
                            <li><div class="expandable"><strong>Rational</strong> &ndash; an entity that chooses actions based on the information available to it</div>
                                <ul>
                                    <li><div class="expandable"><strong>Sentient</strong> &ndash; an entity that acts toward the goal(s) based on the information available to it</div>
                                        <ul>
                                            <li><strong>Human</strong> &ndash; A human player</li>
                                            <li><strong>Computer</strong> &ndash; A computer/AI player of any level of intelligence</li>
                                        </ul>
                                    </li>
                                    <li><strong>Dumb</strong> &ndash; an entity that does not actively work towards any goal</li>
                                </ul>
                            </li>
                            <li><strong>Irrational</strong> &ndash; an entity that performs a set, repeated pattern of actions</li>
                            <li><strong>Random</strong> &ndash; a random-number generator</li>
                        </ul>
                    </li>
                    
                    <li><div class="expandable attr"><strong>Friendliness</strong> &ndash; the relation of one actor towards another insofar as pursuing the same goal</div>
                        <ul>
                            <li><strong>Allied</strong> &ndash; helps the actor</li>
                            <li><strong>Neutral</strong> &ndash; neither helps nor hurts the actor</li>
                            <li><strong>Hostile</strong> &ndash; hurts the actor</li>
                            <li><strong>Varied</strong> &ndash; sometimes helps or hurts the actor</li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            <li><strong>Action</strong> &ndash; causes one or more transitions between game states</li>
            
            <li><div class="expandable"><strong>Transition</strong> &ndash; a rule determining how to get from one game state to another</div>
                <ul>
                    <li><div class="expandable"><strong>Movement</strong> &ndash; an actor goes from one game space coordinate to another</div>
                        <ul>
                            <li><div class="expandable"><strong>Continuity</strong> &ndash; whether the path taken has gaps</div>
                                <ul>
                                    <li><strong>Connected</strong> &ndash; each coordinate visited is "adjacent" to the previous and next ones</li>
                                    <li><strong>Disconnected</strong> &ndash; there are "jumps" between non-adjacent coordinates</li>
                                </ul>
                            </li>
                            
                            <li><div class="expandable attr"><strong>Range</strong> &ndash; how far apart the initial and ending coordinates can be</div>
                                <ul>
                                    <li><strong>Bounded</strong> &ndash; distance of travel in any direction is finite</li>
                                    <li><strong>Semi-bounded</strong> &ndash; distance of travel in at least one direction, but not all, is infinite</li>
                                    <li><strong>Unbounded</strong> &ndash; distance of travel in all directions is infinite</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    <li><div class="expandable attr"><strong>Speed</strong> &ndash; how quickly the transition happens</div>
                        <ul>
                            <li><strong>Instantaneous</strong> &ndash; happens immediately</li>
                            <li><strong>Stepped</strong> &ndash; happens in increments</li>
                        </ul>
                    </li>
                </ul>
            </li>
            
            <li><strong>Interaction</strong> &ndash; a rule for how actors affect each other</li>
            
            <li><strong>Knowledge</strong> &ndash; the information available to an actor</li>
            
            <li><div class="expandable"><strong>Mystery</strong> &ndash; the information <em>not</em> available to an actor</div>
                <ul>
                    <li><strong>Future actions</strong> &ndash; the actions that actors will make</li>
                    <li><strong>Undiscovered</strong> &ndash; knowable in theory, but takes time and/or effort to discover</li>
                    <li><strong>Hidden</strong> &ndash; unknowable unless revealed by another actor</li>
                </ul>
            </li>
            
            <li><strong>Discovery</strong> &ndash; a rule determining how information moves from mystery to knowledge (or vice versa)</li>
            
            <li><div class="expandable"><strong>Goal</strong> &ndash; the aim of the game</div>
                <ul>
                    <li><div class="expandable"><strong>Winning Method</strong> &ndash; how to determine the winner</div>
                        <ul>
                            <li><strong>First to finish</strong> &ndash; the winner achieves fulfills the win conditions first</li>
                            <li><strong>Survivor</strong> &ndash; everyone else loses first</li>
                            <li><div class="expandable"><strong>Situational</strong> &ndash; the winner is determined by the current/final game state</div>
                                <ul>
                                    <li><strong>Endless</strong> &ndash; the game never ends and the winner may change at any time</li>
                                    <li><strong>Time limit</strong> &ndash; the game ends after a certain amount of time</li>
                                    <li><strong>Resource exhaustion</strong> &ndash; the game ends when it cannot be played any further</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
	
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script>
            $(function(){
                $('.expandable').not('#root > .expandable').siblings().filter('ul').hide();
                
                $('.expandable').each(function(){
                    //console.log(this);
                    $(this).html("<code>[+]</code> "+$(this).html());
                });
                
                $('.expandable').on("click", function(){
                    //console.log("click!");
                    //console.log(this);
                    toggleelement(this, "toggle");
                });
            });
            
            function toggleelement(elem, kind){
                var uls = $(elem).siblings().filter('ul');
                if (kind === "toggle"){
                    uls.toggle();
                } else if (kind === "show"){
                    uls.show();
                } else {
                    uls.hide();
                }
                
                var H = $(elem).html();
                var c;
                if(H.includes('+')){
                    c = "-";
                } else {
                    c = "+";
                }
                
                $(elem).html(H.replace(/[+-]/,c));
            }
            
            function toggleall(){
                if($('#toggleall').text().includes("Expand")){
                    $('.expandable').each(function(){toggleelement(this,"show");});
                    $('#toggleall').html('<strong>[Collapse all]</strong>');
                } else {
                    $('.expandable').not('#root > .expandable').each(function(){toggleelement(this,"hide");});
                    $('#toggleall').html('<strong>[Expand all]</strong>');
                }
            }
        </script>
	</body>
</html>