<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		
		{% load staticfiles %}
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'd3applets/dotandcross.css' %}" /> -->
	</head>
	
	<body style="margin-left: 20px">
	
		<h1>Gravity Voronoi</h1>
		<p id="desc">Shows the zones where each body has the most gravitational influence.</p>
		<p>The sun is draggable!</p>
		
		<svg width="600" height="600">
			<rect width="600" height="600" fill="black" />
			<!--<circle cx="200" cy="200" r="100" stroke="black" fill="white" id="base-circle" />-->
			<g id="lines"></g>
			<g id="gravBodies"></g>
			<!-- <circle cx="300" cy="200" r="5" fill="white" id="sun" class=".gravBody" /> -->
		</svg>
		
		<p><button onclick="addOne()">Add one</button>
		Frozen? <input type="checkbox" id="frozen" checked />
		Show vector field? <input type="checkbox" id="showVectors" checked /></p>
		
		<div id="sunStuff"></div>
	
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="{% static 'd3applets/gravityvoronoi.js' %}"></script>
		
	</body>
</html>