<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'd3applets/home.css' %}" />
	</head>
	
	<body>
	
		<h1>Serious Fun</h1>
		<p>Here's the hub, so to speak, for all of my playing and experimentation with various web-based (or server-based) technologies. There is hardly a better way to learn a new (or old) technology than to play with it.</p>
		
		<h2>Stand-alone projects</h2>
		
		<p><strong>Minkolang</strong> - Inspired by Befunge and ><>, and by the golfing comptetitions and languages at
		<a href="http://codegolf.stackexchange.com/">Programming Puzzles and Code Golf</a>, I designed and implemented Minkolang, a (2+1)D Minkowskian stack-based semi-golfing language. The Python interpreter is on <a href="https://github.com/elendiastarman/Minkolang" target="_blank">GitHub</a> and the official online interpreter is here: <a href="http://play.starmaninnovations.com/minkolang/">Minkolang Online Interpreter</a>.</p>
		
		<p><strong>Spacewar! - PPCG King of the Hill</strong> - Spacewar! was one of the very first computer games, and I recreated it for a PPCG King of the Hill challenge.</p>
		
		<h2>D3 Applets</h2>
		
		<ul>
			<li><strong>Dot and Cross Product</strong> - blah.</li>
			<li><strong>Radians</strong> - blah.</li>
		</ul>
	
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="{% static 'd3applets/home.js' %}"></script>
		
	</body>
</html>