<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	</head>
	
	<body style="margin-left: 20px">
	
		<h1>Radians and Degrees</h1>
		<p>Click and drag!</p>
		
		<svg width="400" height="400" style="background-color:white">
			<rect width="400" height="400" stroke="black" fill="white" />
			<circle cx="200" cy="200" r="100" stroke="black" fill="white" id="base-circle" />
			<line x1="200" y1="200" x2="300" y2="200" stroke="black" id="spoke" />
			<g id="spokes" stroke-width="1px"></g>
			<g id="arcs"></g>
			<circle cx="300" cy="200" r="5" stroke="black" fill="black" id="handle" />
			<g id="numbers" font-family="sans-serif" font-size="12px" transform="translate(310,200)">
				<rect width="82" height="38" stroke="" fill="white"/>
				<text x="3" y="15" fill="red" id="radiansText">Radians: 0.00</text>
				<text x="3" y="30" fill="blue" text-anchor="bottom" id="degreesText">Degrees: 0</text>
			</g>
		</svg>
	
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		
		<script>
			d3.select("#arcs").selectAll(".horiz").data(new Array(31))
			  .enter().append("line")
				.attr("x1", function(d,i){ return 200+Math.floor(100*i/30); })
				.attr("y1", 200)
				.attr("x2", function(d,i){ return 200+Math.floor(100*(i+1)/30); })
				.attr("y2", 200)
				.attr("stroke", function(d,i){
					var hex = Math.floor((255/30)*((30-i) % 30)).toString(16);
					<!-- console.log(hex); -->
					if (hex.length < 2) { hex = "0"+hex; }
					return "#"+hex+hex+"00";
				})
				.attr("stroke-width", "5px")
				.attr("class", "horiz");
			
			var radianSpokes = [1,2,3,4,5,6];
			var degreeSpokes = [];
			for(var i=0; i<4; i++){ degreeSpokes = degreeSpokes.concat([90*i+0,90*i+30,90*i+45,90*i+60]); }
			
			d3.select("#spokes").selectAll(".radianSpoke").data(radianSpokes)
			  .enter().append("line")
				.attr("x1", 200)
				.attr("y1", 200)
				.attr("x2", function(d){ return 400*Math.cos(d)+200; })
				.attr("y2", function(d){ return -400*Math.sin(d)+200; })
				.attr("stroke", "red")
				.attr("class", "radianSpoke");
			d3.select("#spokes").selectAll(".degreeSpoke").data(degreeSpokes)
			  .enter().append("line")
				.attr("x1", 200)
				.attr("y1", 200)
				.attr("x2", function(d){ return 400*Math.cos(d/180*Math.PI)+200; })
				.attr("y2", function(d){ return -400*Math.sin(d/180*Math.PI)+200; })
				.attr("stroke", "blue")
				.attr("class", "degreeSpoke");
			
			var snaps = radianSpokes.map(function(x){ return (2*Math.PI-x)%(2*Math.PI); }) //convert to visual angle
			snaps = snaps.concat( degreeSpokes.map(function(x){ return x/180*Math.PI; }) ); //convert degrees to radians
				
			var drag = d3.behavior.drag()
				.on('drag', function(d){
					var ex = d3.event.x - 200;
					var ey = d3.event.y - 200;
					var ang = Math.atan2(ey, ex);
					var vAng;// = (2*Math.PI - ang) % (2*Math.PI); //visual angle
					var minDiff = 1000;
					var oldAng = ang;
					
					snaps.forEach(function(x){
						var diff = (x+2*Math.PI)%(2*Math.PI)-(ang+2*Math.PI)%(2*Math.PI);
						var absDiff = Math.abs(diff);
						/*console.log(x);
						console.log(absDiff);
						console.log(minDiff);*/
						if (absDiff < 0.05 && absDiff < minDiff || absDiff > 2*Math.PI-0.05) {
							ang = x;
							minDiff = absDiff;
						}
					});
					//console.log("");
					if (ang === 0 && oldAng > 0) {
						vAng = 2*Math.PI;
					} else {
						vAng = (2*Math.PI - ang) % (2*Math.PI);
					}
					//ang = tempAng;
					//vAng = (2*Math.PI - ang) % (2*Math.PI);
					
					var n = 30;
					
					d3.select("#handle")
						.attr("cx", 100*Math.cos(ang) + 200)
						.attr("cy", 100*Math.sin(ang) + 200);
					
					d3.select("#spoke")
						.attr("x2", 100*Math.cos(ang) + 200)
						.attr("y2", 100*Math.sin(ang) + 200);
					
					d3.selectAll("#numbers")
						.attr("transform",function(){
							var x = 110*Math.cos(ang) + 200;
							var y = 110*Math.sin(ang) + 200;
							var dx = parseInt(d3.select("#numbers").select("rect").attr("width"));
							var dy = parseInt(d3.select("#numbers").select("rect").attr("height"));
							
							if (0 <= vAng && 2*vAng < Math.PI) {
								y -= dy;
							} else if (Math.PI <= 2*vAng && vAng < Math.PI) {
								x -= dx;
								y -= dy;
							} else if (Math.PI <= vAng && 2*vAng < 3*Math.PI) {
								x -= dx;
							}
							
							return "translate("+x+","+y+")";
						});
					d3.select("#radiansText").text("Radians: "+d3.round(vAng,2));
					d3.select("#degreesText").text("Degrees: "+d3.round(vAng*180/Math.PI));
					
					var array = new Array(Math.ceil(vAng*n));
					<!-- console.log(Math.ceil(vAng*n)); -->
					var data = d3.select("#arcs").selectAll(".coloredArc").data(new Array(Math.ceil(vAng*n)));
					
					data.attr("x1", function(d,i){ return 200+100*Math.cos(i/n); })
						.attr("y1", function(d,i){ return 200-100*Math.sin(i/n); })
						.attr("x2", function(d,i){ return 200+100*Math.cos((i+1)/n); })
						.attr("y2", function(d,i){ return 200-100*Math.sin((i+1)/n); })
						.attr("stroke", function(d,i){
							var hex = Math.floor((255/n)*(i % n)).toString(16);
							<!-- console.log(hex); -->
							if (hex.length < 2) { hex = "0"+hex; }
							return "#"+hex+hex+"00";
						})
						.attr("stroke-width", "5px");
					data.enter().append("line")
						.attr("class", "coloredArc");
					data.exit().remove();
				});
			d3.select('rect').call(drag);
			d3.select('#handle').call(drag);
			d3.select('#base-circle').call(drag);
		</script>
		
	</body>
</html>