<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		
		{% load staticfiles %}
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'd3applets/dotandcross.css' %}" /> -->
		<style>
			input { margin: 5px; }
			span { border: 1px solid black; }
			.rule {
				border: 1px solid transparent;
				width: 200px;
				padding: 3px;
			}
			.rule:hover { border: 1px solid gray; background-color: #FFFFCC; }
			.picked { border: 1px solid black; background-color: #FFFFAA; }
		</style>
	</head>
	
	<body style="margin-left: 20px">
	
		<h1>Variations of Life</h1>
		<p id="desc">A generic Game-of-Life-style simulator that allows mixing of rules.</p>
		
		<svg id="field">
			<g id="blocks"></g>
		</svg>
		
		<p>
			<label for="onOffToggle">Live/dead toggle</label> <input type="radio" id="onOffToggle" name="paintKind" value="toggle" checked />
			<label for="rulePick">Rule pick</label> <input type="radio" id="rulePick" name="paintKind" value="paint" />
			
			<br/>
			
			<button onclick="start()">Start</button>
			<button onclick="stop()">Stop</button>
			<button onclick="step()">Step</button>
			<button onclick="clearGrid()">Clear</button> ||
			<input type="text" id="numSteps" value="1" size="10"/>
			<button onclick="fast()">Fast</button>
			<button onclick="slow()">Slow</button>
			
			<br/>
			
			Ticks per second: <input type="text" id="tps" value="5" size="1"/> &ndash; Milliseconds per tick: <input type="text" id="mspt" value="200" size="1"/>
			
			<br/>
			
			<label for="toroidal">Toroidal?</label> <input type="checkbox" id="toroidal"/>
			<br/>
			Generation: <span id="generationCounter" style="border: 1px solid transparent">0</span>
		</p>
		
		<h2>Rules</h2>
		
		<div id="rules">
			<p id="rule1" class="rule picked">
				Rule: <input type="text" id="rule1text" value="B3/S23" />
				<br/>
				Dead color: <input type="text" id="rule1dead" value="#000000" size="6"/>
				<span style="background-color: #000000" id="rule1deadcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<br/>
				Alive color: <input type="text" id="rule1alive" value="#FFFFFF" size="6"/>
				<span style="background-color: #FFFFFF" id="rule1alivecolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				<br/>
			</p>
		</div>
		
		<button onclick="addRule()">Add rule</button>
	
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<script src="{% static 'd3applets/varlife.js' %}"></script>
		
	</body>
</html>