html {
	font-family: "Gadugi", "Constantia", "Arial", sans-serif;
}

body {
	margin: 10px;
	margin-top: -10px;
	padding: 0px;
}

svg {
	background-color: #000;
	width: 800px;
	height: 600px;
	margin: 0 auto;
}

table {
	text-align: center;
	border-collapse: collapse;
}
td {
	margin: 5px;
}