html {
	font-family: "Gadugi", "Constantia", "Arial", sans-serif;
}

body {
	margin: 10px;
	margin-top: -10px;
	padding: 0px;
}

table {
	text-align: center;
	border-collapse: collapse;
}
td {
	margin: 5px;
}

.redAction {
	background-color: red;
	color: white;
}
.blueAction {
	background-color: blue;
	color: white;
}