table {
	border-collapse: collapse;
	table-layout: fixed;
	font-family: monospace;
}
table, th, td {
	border: 1px solid gray;
}
td {
	width: 1em;
	height: 1em;
	text-align: center;
}

.cell_highlight {
	background-color: #FAA;
}