body {
	margin: 10px;
	margin-top: -10px;
	padding: 0px;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	font-family: monospace;
}
table, th, td {
	border: 1px solid gray;
	padding: 3px;
}
td {
	width: 1em;
	height: 1em;
	text-align: center;
}
#loops-table th, #loops-table td {
	text-align: left;
}

code, kbd {
	background-color: #EEE;
	padding: 0 5px;
}

.cell_highlight {
	background-color: #FAA;
}

img {
	float: right;
	border: 2px solid #500070;
}
img:hover {
	/* border: 1px solid #500070; */
	background-color: #ffffcc;
}

#speed-slider {
	display: inline-block;
	vertical-align: bottom;
}
.ui-slider-horizontal {
    margin: 5px 0px;
    height: 8px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
    height: 15px;
    width: 5px;
    padding-left: 5px;
}