<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<title>Spacewar! PPCG KotH</title>
		
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'Spacewar/main.css' %}" />
	</head>
	
	<body>
	
		<h1>PPCG &ndash; Spacewar! King of the Hill</h1>
		
		<svg id="field">
			<polygon id="red" fill="red" points="-10,20 0,-10 10,20" transform="translate(-20,-20)"/>
			<polygon id="blue" fill="blue" points="-8,16 0,-8 8,16" transform="translate(-30,-20)"/>
			<circle cx="400" cy="300" r="5" style="fill:white" id="sun"></circle>
		</svg>
		
		<p><button onclick="clearInterval(renderLoop); renderLoop=false;">Stop the animation!</button> (Also, ESC to stop the animation, ENTER to resume.)</p>
		
		<table>
			<tr>
				<th>Action</th>
				<th>Red</th>
				<th>Blue</th>
			</tr>
			<tr>
				<td>Turn left</td>
				<td>Z</td>
				<td>N</td>
			</tr>
			<tr>
				<td>Turn right</td>
				<td>X</td>
				<td>M</td>
			</tr>
			<!-- <tr>
				<td>Hyperspace</td>
				<td>C</td>
				<td>,</td>
			</tr> -->
			<tr>
				<td>Fire engine</td>
				<td>V</td>
				<td>.</td>
			</tr>
			<tr>
				<td>Fire missile</td>
				<td>B</td>
				<td>/</td>
			</tr>
		</table>
	
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		{% for script in scripts %}
			<script src="{% static script %}"></script>
		{% endfor %}
		<p style="display:none">{{scripts}}</p>
	</body>
</html>