<!DOCTYPE html PUBLIC "-//W3C//Dli XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/Dli/xhtml11.dli">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<title>Spacewar! PPCG KotH</title>
		
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'Spacewar/main.css' %}" />
	</head>
	
	<body>
	
		<h1>PPCG &ndash; Spacewar! King of the Hill</h1>
		
		<div id="playfield" tabindex="1"></div>
		
		<table id="action-table">
			<tr>
				<th>Action</th>
				<th>Red</th>
				<th>Blue</th>
			</tr>
			<tr>
				<td>Turn left</td>
				<td id="red-turn-left">Z</td>
				<td id="blue-turn-left">N</td>
			</tr>
			<tr>
				<td>Turn right</td>
				<td id="red-turn-right">X</td>
				<td id="blue-turn-right">M</td>
			</tr>
			<tr>
				<td>Hyperspace</td>
				<td id="red-hyperspace">C</td>
				<td id="blue-hyperspace">,</td>
			</tr>
			<tr>
				<td>Fire engine</td>
				<td id="red-fire-engine">V</td>
				<td id="blue-fire-engine">.</td>
			</tr>
			<tr>
				<td>Fire missile</td>
				<td id="red-fire-missile">B</td>
				<td id="blue-fire-missile">/</td>
			</tr>
			<tr>
				<td>Reset field</td>
				<td colspan=2>SPACEBAR</td>
			</tr>
			<tr>
				<td>Restart game</td>
				<td colspan=2>S</td>
			</tr>
			<tr>
				<td>Stop anim</td>
				<td colspan=2>ESC</td>
			</tr>
			<tr>
				<td>Resume anim</td>
				<td colspan=2>ENTER</td>
			</tr>
		</table>
		
		<br/>
		
		<p>
			<button onclick="clearInterval(renderLoop); renderLoop=false;">Stop the animation!</button>
			<button onclick="setupGame(0)">Reset</button>
			<button onclick="setupGame(1)">Restart</button>
			Gravity? <input type="checkbox" id="gravityCheck" checked></input>
			Intersections? <input type="checkbox" id="showIntersections"></input>
		</p>
		
		<br/>
		
		<div id="userbot">
			<pre>function userbot_setup(team) {
    var botVars = {};</pre>
			<textarea id="userbot-setup" class="codeinput" cols=80 rows=10>botVars["color"] = team;</textarea>
			<pre>    return botVars;
}

function userbot_getActions(gameInfo, botVars) {
    var actions = [];</pre>
			<textarea id="userbot-getactions" class="codeinput" cols=80 rows=20>if (gameInfo[botVars["color"]+"_alive"]) {
    if (Math.random() > 0.5) { actions.push("turn right") }
    if (Math.random() > 0.5) { actions.push("fire engine") }
    if (Math.random() > 0.8) { actions.push("fire missile") }
}</textarea>
			<pre>    return actions;
}</pre>
		</div>
		
		<br/>
		
		<p>
			<button id="set-userbot" onclick="setUserBotCode()">Set userbot code</button>
			<button onclick="savePermalink()">Save permalink</button>
			<button onclick="loadFromPermalink()">Reload from permalink</button>
		</p>
		
		<p><strong>Special credit to PhiNotPi and BrainSteel of PPCG for invaluable testing and bug-fixing help, and to CᴏɴᴏʀO'Bʀɪᴇɴ for his contributions to code.</strong></p>
	
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.3.0/prototype.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		{% for script in scripts %}
			<script src="{% static script %}"></script>
		{% endfor %}
		<p style="display:none" id="script-names">{{scripts}}</p>
	</body>
</html>